@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&&display=swap");
@font-face {
  font-family: "icofont";
  src: url("../library/icofont/icofont.min.css");
}

/*-----------------------
# DEFAULT
------------------------*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

p {
  line-height: 1.8;
}

img {
  height: auto;
  width: 100%;
}

.col-12 {
  margin-bottom: 1.5rem;
}

/*-----------------------
# GLOBAL
------------------------*/
.go__up {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
  right: -60px;
  bottom: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 998;
  background-color: #1455a7;
  color: #fff;
  border-radius: 100%;
}

/* gallery button */
.baguetteBox-button {
  border-radius: 5%;
}

.baguetteBox-button:hover, .baguetteBox-button:focus {
  outline: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #02295a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1455a7;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #012c44;
}

.navbar-light .nav-item:not(:last-child) {
  margin-right: 0.8rem;
}

/* Banner */
.banner, .device, .breadcumb, .sc-testimonial {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#095ec7dc), to(#095ec7dc)), url(../img/bg-banner.jpg);
  background-image: linear-gradient(to bottom left, #095ec7dc, #095ec7dc), url(../img/bg-banner.jpg);
  height: 89vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .container, .device .container, .breadcumb .container, .sc-testimonial .container {
  height: 100%;
}

.banner__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55%;
}

.banner .mask, .device .mask, .breadcumb .mask, .sc-testimonial .mask {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.banner__box {
  color: #fff;
}

.banner__box__title {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.banner__box__content {
  padding: 1.5rem 0 2rem;
}

.banner__box__content p {
  font-size: 0.9rem;
  overflow: hidden;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  line-height: 1.6 !important;
  display: -webkit-box;
}

.banner__box__links {
  color: #fff;
  background-color: #85af4b;
  border: 2px solid #85af4b;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.banner__box__links:hover {
  color: #fff;
  background-color: #9acc53;
  border-color: #9acc53;
}

.banner__box__links:nth-child(2) {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.banner__box__links:nth-child(2):hover {
  color: #1455a7;
  background-color: #fff;
  border-color: #fff;
}

/* Slogan */
.slogan__title, .overview__box__title, .about__title, .faq__title {
  border-right: 2px solid #1455a7;
  color: #111111;
  line-height: 1.5;
  font-weight: 500;
}

.slogan__content p, .feature__box__content p, .overview__box__content p, .about__content p, .about .profile p, .faq .faq__heading article p, .sc-testimonial .testi-content p {
  color: #666666;
  font-size: 0.9rem;
}

/* Feature */
.feature__box {
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

.feature__box:hover {
  -webkit-box-shadow: 0px 5px 18px #0000000f;
          box-shadow: 0px 5px 18px #0000000f;
}

.feature__box__img {
  width: 50px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature__box__title {
  color: #111111;
  font-weight: 600;
  margin: 1.1rem 0 1.3rem;
  font-size: 1.1rem;
}

/* Overview */
.overview {
  border-bottom: 1px solid #efefef;
}

.overview__box__title {
  border-right: 0;
  text-transform: capitalize;
  font-weight: 600;
}

.overview__box__content {
  padding: 1.3rem 0 2.3rem;
}

.overview__box__link {
  color: #1455a7;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.overview__box__link:hover {
  color: #fff;
  background-color: #1455a7;
  border-color: #1455a7;
}

/* Counter */
.counter__box {
  text-align: center;
}

.counter__box__value {
  font-weight: 500;
  font-size: 2.3rem;
  margin-bottom: 0.7rem;
}

.counter__box__title {
  color: #727272;
  font-weight: 500;
  font-size: 0.9rem;
}

/* About */
.about__title, .faq__title {
  border-right: 0;
}

.about__content p:not(:last-child) {
  margin-bottom: 1rem;
}

.about__img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .profile__name {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
}

/* faq */
.faq__heading:not(:last-child) {
  margin-bottom: 1rem;
}

.faq .faq__heading {
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #efefef;
}

.faq .faq__heading span {
  margin-right: 0.8rem;
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 100%;
  background-color: #1455a7;
}

.faq .faq__heading span::after {
  content: "\ef9a";
  font-family: icofont;
  font-size: 0.7rem;
  display: inline-block;
  color: #fff;
  padding-left: 0.5rem;
}

.faq .faq__heading h5 {
  font-size: 1.2rem;
  color: #1455a7;
  cursor: pointer;
}

.faq .faq__heading article {
  margin-top: 1rem;
  margin-left: 2.3rem;
}

.faq .faq__heading .collapsed {
  color: #111111;
}

.faq .faq__heading .collapsed span {
  background-color: #e6e6e6;
}

.faq .faq__heading .collapsed span::after {
  content: "\efc2";
  color: #111111;
}

/* device */
.device, .breadcumb {
  height: auto;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#095ec7dc), to(#095ec7dc)), url(../img/bg-purchase.jpg);
  background-image: linear-gradient(to bottom left, #095ec7dc, #095ec7dc), url(../img/bg-purchase.jpg);
}

.device__box__title,
.device__box__content p {
  color: #fff;
}

.device__box__content p {
  margin: 1.3rem 0 2.3rem;
}

/* Project */
.project__b {
  position: relative;
  overflow: hidden;
}

.project__box:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.project__box:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project__box:hover .project__box__view__overlay::before, .project__box:hover .project__box__view__overlay::after {
  opacity: 0.5;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__box__img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__box__overlay i {
  opacity: 0;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -17px;
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 25px;
  background: transparent;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.project__box__view__overlay::before {
  background-color: #1e2637;
  content: "";
  position: absolute;
  right: 0 !important;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.project__box__view__overlay::after {
  content: "";
  position: absolute;
  left: 0 !important;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* Testimonial */
.sc-testimonial {
  height: auto;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#000000a8), to(#000000a8)), url(../img/bg-testimonial.jpg);
  background-image: linear-gradient(to bottom left, #000000a8, #000000a8), url(../img/bg-testimonial.jpg);
}

.sc-testimonial .testi-content img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  border-radius: 100%;
}

.sc-testimonial .testi-content p {
  color: #fff;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  color: #c8c8c8;
  margin-bottom: 2rem;
}

.sc-testimonial .testi-content h6 {
  font-size: 0.9rem;
  color: #fff;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li button:before {
  color: #02295a;
}

.slick-dots li.slick-active button:before {
  color: #1455a7;
  opacity: 1;
}

.slick-dots li {
  margin: 0;
}

/* Team */
.team__box__img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__box__content {
  background-color: #fff;
}

.team__box__name {
  font-weight: 600;
  color: #111111;
  font-size: 1.2rem;
}

.team__box__position {
  color: #666666;
  font-size: 0.8rem;
  font-weight: 500;
}

.team__box__article p {
  font-size: 0.9rem;
}

/* Clients */
.client__img img {
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.client__img img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/* Footer */
.footer {
  background-color: #02295a;
}

.footer__title {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

.footer__descrip {
  color: #cecece;
  font-size: 0.9rem;
}

.footer__ul li:not(:last-child) {
  margin-bottom: 0.9rem;
}

.footer__ul li p,
.footer__ul li a {
  color: #cecece;
  font-size: 0.9rem;
  font-weight: 400;
}

.footer__ul li a:hover {
  color: #e6e6e6;
}

.footer__ul li img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__form input,
.footer__form button {
  width: 100%;
  border-radius: 0;
  border: 1px solid transparent;
}

.footer__form input {
  background-color: #003f8d;
  color: #cecece;
  font-size: 0.9rem;
  padding: 1.4rem 0.5rem;
}

.footer__form input::-webkit-input-placeholder {
  text-align: center;
  color: #cecece;
  font-size: 0.9rem;
}

.footer__form input:-ms-input-placeholder {
  text-align: center;
  color: #cecece;
  font-size: 0.9rem;
}

.footer__form input::-ms-input-placeholder {
  text-align: center;
  color: #cecece;
  font-size: 0.9rem;
}

.footer__form input::placeholder {
  text-align: center;
  color: #cecece;
  font-size: 0.9rem;
}

.footer__form .form-control:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.footer__form button {
  padding: 0.5rem 1rem;
  background-color: #85af4b;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.footer__social ul li {
  display: inline-block;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__social ul li:not(:last-child) {
  margin-right: 0.4rem;
}

.footer__social ul li:hover {
  opacity: 0.8;
}

.footer__social ul li a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  display: block;
}

.footer__social ul .facebook {
  background-color: #3a5897;
}

.footer__social ul .twitter {
  background-color: #1da0f1;
}

.footer__social ul .youtube {
  background-color: #c4302b;
}

.container {
  overflow-x: hidden;
}

.copyright {
  background-color: #001b3d;
}

.copyright p {
  font-size: 0.9rem;
}

/*==== CONTACT ====*/
.breadcumb__box__title {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

.breadcumb__link a {
  color: #fff;
}

form .error {
  color: #ff0000;
}

.contact i {
  font-size: 3rem;
  color: #1455a7;
  margin-bottom: 1rem;
}

.contact__box__title {
  color: #111111;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.contact__box__content p {
  color: #666666;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.9;
  margin-bottom: 1rem;
}

.contact a {
  color: #111111;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact a:hover {
  color: #1455a7;
}

.contact__btn__submit {
  color: #fff;
  background-color: #1455a7;
  border: 2px solid #1455a7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.contact__btn__submit:hover {
  color: #1455a7;
  background-color: #fff;
  border-color: #fff;
}

.contact__btn__submit:hover {
  border: 2px solid #1455a7;
}

.contact__form input::-webkit-input-placeholder {
  font-size: .9rem;
}

.contact__form input:-ms-input-placeholder {
  font-size: .9rem;
}

.contact__form input::-ms-input-placeholder {
  font-size: .9rem;
}

.contact__form input::placeholder {
  font-size: .9rem;
}

@media screen and (max-width: 567px) {
  .banner__img {
    display: none;
  }
  .slogan__title, .overview__box__title, .about__title, .faq__title {
    border-right: 0;
  }
  .banner__box__title {
    font-size: 2.8rem;
  }
}
/*# sourceMappingURL=style.css.map */