@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&&display=swap");

$navColor: #012c44;
$green: #85af4b;
$blue: #1455a7; // border
$title: #111111; // title
$paragraph: #666666; // paragraph
$btnBg: #e6e6e6;
$btnText: #095dc7; // dropdown banner
$counter: #727272;
$position: #999999;
$footer: #02295a;
$copyright: #001b3d;
$inputForm: #003f8d;
$fb: #3a5897;
$twitter: #1da0f1;
$youtube: #c4302b;

$f2: #f2f2f2;
$f4: #f4f4f4;
$white: #fff;
$black: #000;
$light: #999999;
$background: #f6f5ff;
$b7: #777777;
$light-border: #dee2e6;

@mixin fixed-line($num) {
  overflow: hidden;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: $num !important;
  line-height: 1.6 !important;
  display: -webkit-box;
}
@mixin transition {
  transition: all 0.4s ease;
}
@mixin link($color, $bg-color, $border-color, $hcolor, $hbg-color) {
  color: $color;
  background-color: $bg-color;
  border: 2px solid $border-color;
  @include transition;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  &:hover {
    color: $hcolor;
    background-color: $hbg-color;
    border-color: $hbg-color;
  }
}
@mixin poppins {
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: "icofont";
  src: url("../library/icofont/icofont.min.css");
}
/*-----------------------
# DEFAULT
------------------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  @include poppins();
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
p {
  line-height: 1.8;
}
img {
  height: auto;
  width: 100%;
}
.col-12 {
  margin-bottom: 1.5rem;
}

/*-----------------------
# GLOBAL
------------------------*/
.go__up {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
  right: -60px;
  bottom: 20px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  z-index: 998;
  background-color: $blue;
  color: $white;
  border-radius: 100%;
}
/* gallery button */
.baguetteBox-button {
  border-radius: 5%;
  &:hover,
  &:focus {
    outline: 0px;
  }
}
// .main__title {
// }

// header
.navbar-light {
  .navbar-nav .nav-link {
    color: $footer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    @include transition;
    &:hover {
      color: $blue;
    }
  }
  .navbar-nav .active > .nav-link {
    color: $navColor;
  }
  .nav-item:not(:last-child) {
    margin-right: 0.8rem;
  }
}

/* Banner */
.banner {
  background-image: linear-gradient(to bottom left, #095ec7dc, #095ec7dc),
    url(../img/bg-banner.jpg);
  height: 89vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    height: 100%;
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
  }
  .mask {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  &__box {
    color: $white;
    &__title {
      font-size: 3rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    &__content {
      padding: 1.5rem 0 2rem;
      p {
        font-size: 0.9rem;
        @include fixed-line(2);
      }
    }
    &__links {
      @include link($white, $green, $green, $white, #9acc53);
      &:nth-child(2) {
        @include link($white, transparent, $white, $blue, $white);
      }
    }
  }
}

/* Slogan */
.slogan {
  &__title {
    border-right: 2px solid $blue;
    color: $title;
    line-height: 1.5;
    font-weight: 500;
  }
  &__content {
    p {
      color: $paragraph;
      font-size: 0.9rem;
    }
  }
}

/* Feature */
.feature {
  &__box {
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    &:hover {
      box-shadow: 0px 5px 18px #0000000f;
    }
    &__img {
      width: 50px;
      height: 80px;
      object-fit: contain;
    }
    &__title {
      color: $title;
      font-weight: 600;
      margin: 1.1rem 0 1.3rem;
      font-size: 1.1rem;
    }
    &__content {
      @extend .slogan__content;
    }
  }
}

/* Overview */
.overview {
  border-bottom: 1px solid #efefef;
  &__box {
    &__title {
      @extend .slogan__title;
      border-right: 0;
      text-transform: capitalize;
      font-weight: 600;
    }
    &__content {
      @extend .slogan__content;
      padding: 1.3rem 0 2.3rem;
    }
    &__link {
      @include link($blue, $btnBg, $btnBg, $white, $blue);
    }
  }
}

/* Counter */
.counter {
  &__box {
    text-align: center;
    &__value {
      font-weight: 500;
      font-size: 2.3rem;
      margin-bottom: 0.7rem;
    }
    &__title {
      color: $counter;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}
/* About */
.about {
  &__title {
    @extend .slogan__title;
    border-right: 0;
  }
  &__content {
    @extend .slogan__content;
    p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
  }
  .profile {
    @extend .slogan__content;
    &__name {
      margin-bottom: 0.3rem;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

/* faq */
.faq {
  &__title {
    @extend .about__title;
  }
  &__heading:not(:last-child) {
    margin-bottom: 1rem;
  }
  .faq__heading {
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #efefef;
    span {
      margin-right: 0.8rem;
      height: 25px;
      width: 25px;
      display: inline-block;
      border-radius: 100%;
      background-color: $blue;
      &::after {
        content: "\ef9a";
        font-family: icofont;
        font-size: 0.7rem;
        display: inline-block;
        color: $white;
        padding-left: 0.5rem;
      }
    }
    h5 {
      font-size: 1.2rem;
      color: $blue;
      cursor: pointer;
    }
    article {
      margin-top: 1rem;
      margin-left: 2.3rem;
      @extend .slogan__content;
    }
    .collapsed {
      color: $title;
      span {
        background-color: $btnBg;
        &::after {
          content: "\efc2";
          color: $title;
        }
      }
    }
  }
}

/* device */
.device {
  @extend .banner;
  height: auto;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom left, #095ec7dc, #095ec7dc),
    url(../img/bg-purchase.jpg);
  &__box {
    &__title,
    &__content p {
      color: $white;
    }
    &__content p {
      margin: 1.3rem 0 2.3rem;
    }
  }
}

/* Project */
.project {
  &__b {
    position: relative;
    overflow: hidden;
  }
  &__box {
    &:hover {
      transform: scale(1.075);
      transition: all 3s ease-out;
      transition-delay: 0.15s;
      i {
        opacity: 1;
        transform: scale(1);
      }
      .project__box__view__overlay {
        &::before,
        &::after {
          opacity: 0.5;
          transform: translateY(0);
        }
      }
    }
    &__img {
      height: 300px;
      object-fit: cover;
    }
    &__overlay i {
      opacity: 0;
      position: absolute;
      text-align: center;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -17px;
      display: inline-block;
      height: 25px;
      width: 25px;
      line-height: 25px;
      color: #fff;
      font-size: 25px;
      background: transparent;
      transition: all 0.9s ease;
      transform: scale(0);
    }
    &__view__overlay {
      &::before {
        background-color: #1e2637;
        content: "";
        position: absolute;
        right: 0 !important;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        transform: translateY(100%);
      }
      &::after {
        content: "";
        position: absolute;
        left: 0 !important;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        transform: translateY(-100%);
      }
    }
  }
}

/* Testimonial */
.sc-testimonial {
  @extend .banner;
  height: auto;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom left, #000000a8, #000000a8),
    url(../img/bg-testimonial.jpg);
  .testi-content {
    @extend .slogan__content;
    img {
      height: 60px;
      width: 60px;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 100%;
    }
    p {
      color: $white;
      text-align: center;
      font-style: italic;
      font-weight: 400;
      color: #c8c8c8;
      margin-bottom: 2rem;
    }
    h6 {
      font-size: 0.9rem;
      color: $white;
    }
  }
}
.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li button:before {
  color: $footer;
}
.slick-dots li.slick-active button:before {
  color: $blue;
  opacity: 1;
}
.slick-dots li {
  margin: 0;
}

/* Team */
.team {
  &__box {
    &__img {
      height: 300px;
      object-fit: cover;
    }
    &__content {
      background-color: $white;
    }
    &__name {
      font-weight: 600;
      color: $title;
      font-size: 1.2rem;
    }
    &__position {
      color: $paragraph;
      font-size: 0.8rem;
      font-weight: 500;
    }
    &__article {
      p {
        font-size: 0.9rem;
      }
    }
  }
}

/* Clients */
.client {
  &__img {
    img {
      height: 120px;
      object-fit: contain;
      @include transition();
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

/* Footer */
.footer {
  background-color: $footer;
  &__title {
    color: $white;
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
  }
  &__descrip {
    color: #cecece;
    font-size: 0.9rem;
  }
  &__ul {
    li {
      &:not(:last-child) {
        margin-bottom: 0.9rem;
      }
      p,
      a {
        color: #cecece;
        font-size: 0.9rem;
        font-weight: 400;
      }
      a:hover {
        color: $btnBg;
      }
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }
  }
  &__form {
    input,
    button {
      width: 100%;
      border-radius: 0;
      border: 1px solid transparent;
    }
    input {
      background-color: $inputForm;
      color: #cecece;
      font-size: 0.9rem;
      padding: 1.4rem 0.5rem;
      &::placeholder {
        text-align: center;
        color: #cecece;
        font-size: 0.9rem;
      }
    }
    .form-control:focus {
      box-shadow: 0 0 0 0;
    }
    button {
      padding: 0.5rem 1rem;
      background-color: $green;
      color: $white;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  &__social {
    ul {
      li {
        display: inline-block;
        border-radius: 100%;
        @include transition();
        &:not(:last-child) {
          margin-right: 0.4rem;
        }
        &:hover {
          opacity: 0.8;
        }
        a {
          height: 35px;
          width: 35px;
          line-height: 35px;
          border-radius: 100%;
          text-align: center;
          color: $white;
          display: block;
        }
      }
      .facebook {
        background-color: $fb;
      }
      .twitter {
        background-color: $twitter;
      }
      .youtube {
        background-color: $youtube;
      }
    }
  }
}
.container {
  overflow-x: hidden;
}
.copyright {
  background-color: $copyright;
  p {
    font-size: 0.9rem;
  }
}

/*==== CONTACT ====*/
.breadcumb {
  @extend .device;
  &__box__title {
    font-size: 3rem;
    margin-bottom: 0.3rem;
  }
  &__link a {
    color: $white;
  }
}
form .error {
  color: #ff0000;
}
.contact {
  i {
    font-size: 3rem;
    color: $blue;
    margin-bottom: 1rem;
  }
  &__box__title {
    color: $title;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  &__box__content p {
    color: $paragraph;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.9;
    margin-bottom: 1rem;
  }
  a {
    color: $title;
    font-size: 1.1rem;
    font-weight: 500;
    @include transition();
    &:hover {
      color: $blue;
    }
  }
  &__btn__submit{
    @include link($white, $blue, $blue, $blue, $white);
    &:hover{
      border: 2px solid $blue;
    }
  }
  &__form{
    input::placeholder{
      font-size: .9rem;
    }
  }
}
@media screen and (max-width: 567px) {
  .banner__img {
    display: none;
  }
  .slogan__title {
    border-right: 0;
  }
  .banner__box__title {
    font-size: 2.8rem;
  }
}
